# env
env.json
flutter-app/env.json
supabase/.env
/.tmp/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
flutter-app/.dart_tool/
flutter-app/.flutter-plugins
flutter-app/.flutter-plugins-dependencies
flutter-app/.pub-cache/
flutter-app/.pub/
flutter-app/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
android/app/debug
android/app/profile
android/app/release
flutter-app/android/app/debug
flutter-app/android/app/profile
flutter-app/android/app/release
